main{
    background-color: #F3EAE2;
    & #one{
        display: flex;
        flex-direction: column;
        
        & p{
            text-align: center;
            font-weight: 600;
            font-size: 1rem;
            text-transform: uppercase;
            margin-top: 1.5rem;
        }
        & #companies {
            display: flex;
            flex-wrap: wrap;
            width: 100vw;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
            & img{
                height: 2rem;
                margin: 0.5rem;
            }
        }
    
    }
    
    #two, #four{
        display: flex;
        flex-direction:column;
        & img{
            width:90vw;
            height:auto;
            margin: 2rem 0 ;
        }
       

        & .text{
            justify-self: left;
            margin: 1rem 1.5rem;
           
            & a{
                text-decoration: none;
                color: #2E71A6;
                
            }
            & h2{
                font-size: 1.8rem;
                font-weight: 600;
            }
            & p{
                margin: 1rem 0;
                line-height: 1.5rem;
                font-size:1.1rem;
            }

            &span{
                color: #2E71A6;
                margin: 3%;
            }
            
        }
    }

    & #three{
        display: flex;
        flex-direction:column-reverse;
        & img{
            width:90vw;
            height:auto;
            margin: 2rem 0rem 2rem 2.5rem;
    }
    & .text{
        justify-self: left;
        margin: 1rem 1.5rem;
       
        & a{
            text-decoration: none;
            color: #2E71A6;
            
        }
        & h2{
            font-size: 1.8rem;
            font-weight: 600;
        }
        & p{
            margin: 1rem 0;
            line-height: 1.5rem;
            font-size:1.1rem;
        }

        &span{
            color: #2E71A6;
            margin: 3%;
        }
        
    }
   

}

#five{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white !important;
    & h3{
        font-size: 2rem;
        text-align: center;
        margin: 0.5rem;
        color:#191817;
    }
    & p{
        text-align: center;
        font-size: 1.1rem;
    }
    & div{
        display: flex;
        flex-direction: column;
        margin: 1rem;
        & button{
            font-size: medium;
            border-radius: 5px;
            height: 3rem;
            margin: .5rem 0;
            font-size: 1rem;
            width:90vw;
            text-transform: uppercase;
        }
        & #btn1{
            background-color: #540B51;
            color: white;
            border: none;
            
        }
        & #btn2{
            background-color: white;
            color:#540B51;
            border:1px solid #540B51;
        }

    }
    & ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: .5rem;
        & li{
            padding: 1.5rem;
            & span{
                color: #540B51;
                font-size: 45px;
            }
            & p{
                font-weight:bold;
            }
        }
    }
}

#six{
    background-color: #540B51 !important;
    display: flex ;
    flex-direction: column !important;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    & h3{
        font-size: 2rem;
        text-align: center;
        margin: 1rem;
        color:white;
        font-weight: 400;
    }
    & div{
        display: flex;
        flex-direction: column-reverse;
        & button{
            height: 3rem;
            width: 85vw;
            font-size: 1rem;
            border-radius: 5px;
            margin: .5rem 0;
            text-transform: uppercase;
        }
        & #btn3{
            border: none;
            color: #540B51;
            background-color: white;
        }
        & #btn4{
            color: white;
            background-color:#540B51;
            border:1px solid white;
        }
    }
    
    
}
}