@media (max-width: 768px) {
  nav {
    /* display: flex;
    width: 100%;
    background-color: #540b51;
    align-items: center; */
    padding: 5%;
    /* flex-direction: row;
    justify-content: space-between; */
    border-bottom: 1px solid rgba(173, 162, 162, 0.266);
  }
  nav ul {
    display: none;
  }

  #slack-logo {
    width: 50%;
  }
  .search {
    /* display: flex; */
    float: right;
    flex-direction: row;
    /* justify-content: space-between; */
  }
  .search button {
    margin: 0 0 0 15px;
    /* background-color: #540b51; */
  }

  header {
    /* display: flex; */
    flex-direction: column;
    text-align: center;
    /* background-color: #540b51; */
  }

  /* .container-imghero {
    overflow: hidden;
  } */

  #Hero-image {
    width: 150%;
    overflow: hidden;
  }
  .title {
    color: white;
    padding: 5%;
  }
  .title span {
    margin: 0;
  }
  /* .bold-yellow {
    font-weight: bold;
    color: orange;
  } */

  /* .light-white {
    font-weight: normal;
    color: white;
  } */
  /* .btn-login {
    display: flex;
    flex-direction: column;
  } */
  #Sign-inE {
    /* display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    color: #540b51;
    padding: 5%;
    margin: 5% 0;
    text-transform: uppercase; */

    font-size: 0.8em;
    font-weight: bold;
    height: 40%;
    border-radius: 2px;
  }
  #Sign-inG {
    /* display: flex;
    align-items: center;
    color: white;
    background-color: #4285f4;
    text-transform: uppercase; */
    padding: 1%;
    margin: 0 0 5% 0;
    height: 40%;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 2px;
  }
  #logo-google {
    max-width: 10%;
    background-color: white;
    margin: 0 10% 0 0;
    padding: 2%;
  }
  .span {
    flex-basis: 55%;
  }
  .title p {
    margin: 5% 0;
  }

  /* MAIN */

  /* main {
    display: flex;
    flex-direction: column;
    background-color: #f3eae2;
  } */

  .first-sec {
    /* padding: 2%;
    text-align: center; */
    font-weight: 700;
  }
  .image-comp {
    display: flex;
    flex-direction: column;
  }
  .first-line {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
    flex-wrap: wrap;
    height: 70px;
    max-height: 60em;
    padding: 0 3%;
    margin: 10% 0 0 0;
  }
  .second-line {
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    justify-content: space-around;
    flex-wrap: wrap;
    height: 70px;
    max-height: 60em;
    padding: 0 3%;
    margin: 10% 0;
  }

  .image-comp img {
    max-height: 55%;
  }

  .first-sec p {
    width: 100%;
    font-size: 1em;
    text-transform: uppercase;
    margin: 10px 0;
  }
  .second-sec p,
  h2,
  span {
    margin: 5%;
  }
  .second-sec img {
    width: 100%;
  }
  /* .third-sec {
    display: flex;
    flex-direction: column-reverse;
  } */
  .third-sec img {
    width: 100%;
    margin: 5% 0;
  }
  .third-sec p {
    margin: 5%;
  }
  .fourth-sec {
    padding: 30px 0;
  }
  .fourth-sec p {
    margin: 5%;
  }
  .fourth-sec img {
    width: 100%;
    margin: 20px 0;
  }
  /* .fifth-sec {
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
  } */
  .fifth-sec-btn {
    display: flex;
    flex-direction: column;
    margin: 5% 5% 0 5%;
    justify-content: space-around;
    height: 100px;

    text-transform: uppercase;
    background-color: white;
  }
  #meet {
    /* text-transform: uppercase;
    color: white;
    background-color: #540b51;
    border: 1px solid #540b51;
    border-radius: 3px; */
    height: 40%;
  }
  #talk {
    /* text-transform: uppercase;
    color: #540b51;
    background-color: white;
    border: 2px solid #540b51;
    border-radius: 3px; */
    height: 40%;
  }
  .fifth-sec h3 {
    margin: 40px 30px 10px 30px;
    font-size: 1.5em;
  }
  .fifth-sec p {
    margin: 0 4%;
  }
  .fifth-sec ul {
    font-weight: bold;
    margin: 5%;
    padding: 0 15%;
    margin: 5% 0;
  }
  /* .fifth-sec span {
    font-size: 2em;
    color: #540b51;
  } */
  /* .welcome {
    background-color: #540b51;
    display: flex;
    flex-direction: column;
  } */
  .welcome h3 {
    /* color: white;
    text-align: center;
    font-weight: bolder; */
    font-size: 1.5em;
    margin: 5%;
  }
  .btn-wlcome {
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-transform: uppercase;
    background-color: #540b51; */
    margin: 0 5% 10% 5%;
    height: 100px;
  }
  #wlc-try {
    color: white;
    text-transform: uppercase;
    background-color: #540b51;
    font-weight: 500;
    height: 40%;
    border: 2px solid white;
    border-radius: 3px;
  }
  #wlc-takl {
    height: 40%;
    text-transform: uppercase;
    font-weight: 500;
    color: #540b51;
    border: 2px solid #540b51;
    border-radius: 3px;
  }

  /* FOOTER */

  /* footer {
    display: flex;
    flex-direction: column;
    padding: 5%;
  } */
  footer img {
    width: 10%;
    margin: 5% 0;
  }
  /* .ul-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
  } */
  /* .ul-footer ul {
    display: flex;
    flex-direction: column;
  } */
  /* .ul-footer li {
    margin: 10px 0;
  } */

  #ul-bold li {
    margin: 5% 0;
    height: 100%;
    font-weight: bold;
    font-size: 13px;
  }
  #icon {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
  }
  small {
    text-align: justify;
    height: 1px;
    font-size: 0.5em;
  }
}
/* @media only screen and (min-width: 769px) and (max-width: 1024px) {
  nav {
    display: flex;
    width: 100%;
border: #2e71a6 2px solid;
    background-color: #540b51;
    align-items: center;
    padding: 3% 0;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(173, 162, 162, 0.266);
  }
  nav ul {
    display: none;
  }

  #slack-logo {
    width: 30%;
    margin: 0 3%;
  }
  .search {

    margin: 0 3%;
  }
  .search button {
    height: 100%;
    margin: 0 0 0 15px;
    background-color: #540b51;
  }
  a {
    color: #2e71a6;
  }
  .title {
    color: white;
    text-align: center;
    padding: 5%;
  }
  .btn-login {
    display: flex;
    flex-direction: column;
  }
  #Sign-inE {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    color: #540b51;
    padding: 5%;
    margin: 5% 0;
    text-transform: uppercase;

    font-size: 0.8em;
    font-weight: bold;
    height: 40%;
  }
  #Sign-inG {
    display: flex;
    color: white;
    text-justify: center;
    align-items: center;
    background-color: #4285f4;
    padding: 1%;
    margin: 0 0 5% 0;
    height: 40%;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
  }
  #logo-google {
    max-width: 10%;
    background-color: white;
    margin: 0 10% 0 0;
    padding: 2%;
  }
  .span {
    flex-basis: 55%;
  }
  .title p {
    margin: 5% 0;
  }
} */
