nav{
    background-color: #540b51;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem;
    max-width: 100vw !important;
    
    & .logo {
        height: 1.3rem;
        width:auto;
        cursor: pointer;
        margin: 0 0.5rem;
        
    }
    & .menu, .action-btns{
        display: none !important;
        
    }
    & button{
        background-color: transparent;
        border:none;
        cursor: pointer;
        margin: 0 1rem;
        & img{
            width: 1.3rem;
        }
    }
}





/*


nav{
    & .left-side{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
    }
    
   
    
    & ul{
        list-style: none;
        /* & a{
            font-size: 1 rem;
            color:white;
            text-decoration:none;
        }
        & a:hover{
            color:#ECB12F;
        }
        & li{
            display: inline-block;
            padding: 0 20px;
        
        }
        & .free{
            
            border:3px solid white;
            border-radius: 5px;
            padding: 10px;
            background-color: white;
            height: 45px;
            & a{
                color:#540b51 !important;
                font-weight: bold;
            }
            
        }
        & li:hover{
            transform: scale(1.2)
        }
    }
    & .right-side{
        display:flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        
      
        & .menu-button{
            display: none;
        }
        
}}

.menu, .action-btns{
    display: none !important;
}
.menu-button{
    display:flex !important;
} 

@media (max-width: 768px){
    
    
    
}
 */